<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <div>
    <label for="hero-content">Hero content: </label>
    <select [(ngModel)]="hero.contentId">
      <option *ngFor="let item of contents" [ngValue]="item.id">
        {{item.name}}
      </option>
    </select>
  </div>
  <button  mat-button type="button" (click)="goBack()">go back</button>
  <button  mat-button type="button" (click)="save()">save</button>
</div>
